<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
        <h2>Ofertas</h2> 
    </ion-title>
  </ion-toolbar>

  <ion-fab horizontal="end" vertical="top" slot="fixed">
      <ion-fab-button color="secondary">
        <ion-icon name="share"></ion-icon>
      </ion-fab-button >
      <ion-fab-list side="start">
        <ion-fab-button href="https://www.facebook.com/aerolineasatena" color="light">
          <ion-icon name="logo-facebook"></ion-icon>
        </ion-fab-button>
        <ion-fab-button href="https://twitter.com/AerolineaSatena" color="light">
          <ion-icon name="logo-twitter"></ion-icon>
        </ion-fab-button>
        <ion-fab-button href="https://www.instagram.com/aerolineasatena/" color="light">
          <ion-icon  name="logo-instagram"></ion-icon>
        </ion-fab-button>      
      </ion-fab-list>
    </ion-fab>


</ion-header>

<ion-content class="scroller ion-padding" no-bounce>

  <ion-card href="https://www.satena.com/comercial/tarifas-destacadas/">
        <img src="/assets/tarifas/1.jpg" />
        <div class="card-title">Cali - Medellin</div>
        <div class="card-subtitle">Desde</div>
        <div class="card-content">$ 119.830 COP</div>
          <ion-card-content style="background-color:#224F7B;">
          *Aplica condiciones
          </ion-card-content>
    </ion-card>

    <ion-card href="https://www.satena.com/comercial/tarifas-destacadas/">
      <img src="/assets/tarifas/2.jpg" />
      <div class="card-title">Bogota - Medellin</div>
      <div class="card-subtitle">Desde</div>
      <div class="card-content">$ 99.910 COP</div>
        <ion-card-content style="background-color:#224F7B;">
        *Aplica condiciones
        </ion-card-content>
   </ion-card>


   <ion-card href="https://www.satena.com/comercial/tarifas-destacadas/">
    <img src="/assets/tarifas/3.jpg" />
    <div class="card-title">Bogota - Aguachica</div>
    <div class="card-subtitle">Desde</div>
    <div class="card-content">$ 159.890 COP</div>
      <ion-card-content style="background-color:#224F7B;">
      *Aplica condiciones
      </ion-card-content>
  </ion-card>
    

  <ion-card href="https://www.satena.com/comercial/tarifas-destacadas/">
    <img src="/assets/tarifas/4.jpg" />
    <div class="card-title">Medellin - Tolú</div>
    <div class="card-subtitle">Desde</div>
    <div class="card-content">$ 149.950 COP</div>
      <ion-card-content style="background-color:#224F7B;">
      *Aplica condiciones
      </ion-card-content>
</ion-card>
   
</ion-content>
