<ion-header>
  <ion-toolbar>
    <ion-title>
        <h2>Ofertas</h2> 
    </ion-title>
  </ion-toolbar>

  <ion-fab horizontal="end" vertical="top" slot="fixed">
      <ion-fab-button color="secondary">
        <ion-icon name="share"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="start">
        <ion-fab-button href="https://www.facebook.com/aerolineasatena" color="light">
          <ion-icon name="logo-facebook"></ion-icon>
        </ion-fab-button>
        <ion-fab-button href="https://twitter.com/AerolineaSatena" color="light">
          <ion-icon name="logo-twitter"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="light">
          <ion-icon href="https://www.instagram.com/aerolineasatena/" name="logo-instagram"></ion-icon>
        </ion-fab-button>      
      </ion-fab-list>
    </ion-fab>


</ion-header>

<ion-content class="scroller ion-padding" no-bounce>

  <ion-card>
      <img src="/assets/111.jpg" />
      <ion-card-header>
        <ion-card-subtitle>Desde</ion-card-subtitle>
        <ion-card-title> $ 150.000 COP </ion-card-title>
        <ion-card-subtitle>Medellin - Bogota</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        *Aplica condiciones
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="/assets/154.jpg" />
      <ion-card-header>
        <ion-card-subtitle>Desde</ion-card-subtitle>
        <ion-card-title> $ 150.000 COP </ion-card-title>
        <ion-card-subtitle>Medellin - Bogota</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        *Aplica condiciones
        </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="/assets/104.jpg" />
      <ion-card-header>
        <ion-card-subtitle>Desde</ion-card-subtitle>
        <ion-card-title> $ 150.000 COP </ion-card-title>
        <ion-card-subtitle>Medellin - Bogota</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        *Aplica condiciones
       </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="/assets/26.jpg" />
      <ion-card-header>
        <ion-card-subtitle>Desde</ion-card-subtitle>
        <ion-card-title> $ 150.000 COP </ion-card-title>
        <ion-card-subtitle>Medellin - Bogota</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        *Aplica condiciones
       </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="/assets/18.jpg" />
      <ion-card-header>
        <ion-card-subtitle>Desde</ion-card-subtitle>
        <ion-card-title> $ 150.000 COP </ion-card-title>
        <ion-card-subtitle>Medellin - Bogota</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        *Aplica condiciones
       </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="/assets/12.jpg" />
      <ion-card-header>
        <ion-card-subtitle>Desde</ion-card-subtitle>
        <ion-card-title> $ 150.000 COP </ion-card-title>
        <ion-card-subtitle>Medellin - Bogota</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        *Aplica condiciones </ion-card-content>
    </ion-card>
</ion-content>
