<ion-header>

    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
        <ion-title>
        <h2>Web Check-in</h2> 
        </ion-title>
      </ion-toolbar>
  
  <ion-fab horizontal="end" vertical="top" slot="fixed">
      <ion-fab-button color="secondary">
        <ion-icon name="share"></ion-icon>
      </ion-fab-button>
      <ion-fab-list>
        <ion-fab-button href="https://www.facebook.com/aerolineasatena" color="light">
          <ion-icon name="logo-facebook"></ion-icon>
        </ion-fab-button>
        <ion-fab-button href="https://twitter.com/AerolineaSatena" color="light">
          <ion-icon name="logo-twitter"></ion-icon>
        </ion-fab-button>
        <ion-fab-button href="https://www.instagram.com/aerolineasatena/" color="light">
          <ion-icon  name="logo-instagram"></ion-icon>
        </ion-fab-button>      
      </ion-fab-list>
    </ion-fab>

</ion-header>

<ion-content class="scroller ion-padding">

  <section>
    <img src="/assets/equipaje.jpg" />
   </section>
  
   <br>


    <section class="section ion-padding">
        
        <p>Pasajeros que únicamente llevan equipaje de mano (Hasta 1 pieza de 5 Kgs Máximo) o no llevan equipaje.</p>
        <div>
            <object  width="100%" height="450hv" data="https://wc2-9r.kiusys.net/widget/" type="text/html" ></object>
        </div>
    </section>


</ion-content>
