
<div>
  <ion-card class="ion-padding">
        <div class="section-title">
          <h1>
          No te pierdas ninguna Promo           
          </h1>
       </div>

      <form #miForm = "ngForm" (ngSubmit)="onFormSubmit(miForm)">
              <div  class="form-group">
                      <ion-item>
                        <ion-label style="font-family: inherit;" color="medium" position="floating">Nombre</ion-label>
                        <ion-input type="text" class="form-control" name="nombre"  [(ngModel)]="name" #nombre="ngModel" required></ion-input>

                        <div *ngIf="nombre.invalid && (nombre.touched || nombre.dirty)">
                        <div *ngIf="nombre.errors?.required" [ngClass] = "'error'" class="alert alert-danger" style="color: firebrick; font-size: 11px;">Ingrese el Nombre  </div>
                        </div>
                      </ion-item>
            
                      <ion-item>
                        <ion-label style="font-family: inherit;" color="medium" position="floating">Apellido</ion-label>
                        <ion-input type="text" class="form-control" name="apellido" [(ngModel)]="lastname"  #apellido="ngModel" required></ion-input>
                        
                        <div *ngIf="apellido.invalid && (apellido.touched || apellido.dirty)">
                          <div *ngIf="apellido.errors?.required" [ngClass] = "'error'" class="alert alert-danger" style="color: firebrick; font-size: 11px;">Ingrese el Apellido</div>
                        </div>
                      </ion-item>

                      <ion-item>
                        <ion-label style="font-family: inherit;" color="medium" position="floating">E-mail</ion-label>
                        <ion-input type="email" class="form-control"  name="correo" [(ngModel)]="email" #correo="ngModel" pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})" required></ion-input>
                      
                        <div *ngIf="correo.invalid && (correo.touched || correo.dirty)">
                          <div *ngIf="correo.errors?.required" [ngClass] = "'error'" class="alert alert-danger" style="color: firebrick; font-size: 11px;">Correo no valido</div>
                        </div>
                      </ion-item>

                      <ion-item>
                        <ion-label style="font-family: inherit;" color="medium">Aeropuerto Más Cercano</ion-label>
                        <ion-select class="form-control" interface="popover" name="airportCodeValue" [(ngModel)]="airportCodeValue" multiple="false" placeholder="Select.." required > 
                            
                          <ion-select-option *ngFor="let a of airportsList.airports" value="{{a.id}}">{{a.ciudad}}</ion-select-option>
                                  
                        </ion-select>
                      </ion-item>
                    
                      <ion-item lines="none">
                          <ion-label  style="font-family: inherit;" color="medium" > Acepto
                            <a style="font-size: 14px;" href="https://www.satena.com/viewer.php?id=408&&rlsk='YUhSMGNITTZMeTkzZDNjdWMyRjBaVzVoTG1OdmJTOWtiMk4xYldWdWRHOXpMMk52Y25CdmNtRjBhWFp2TDNCdmJHbDBhV05oYzE5amIyNWthV05wYjI1bGMxOTBaWEp0YVc1dmMxOTFjMjh1Y0dSbQ=='" target="_blank" title="Ver términos y condiciones"> 
                              Términos y condiciones                                   
                            </a>
                          </ion-label>
                          <input type="checkbox"  class="form-control" color="primary" slot="start" name="aggrement" [(ngModel)]="isAccepted" #aggrement="ngModel" required>
                                                                    
                       </ion-item>

                       <div *ngIf="aggrement.invalid" [ngClass] = "'error'">
                        <div style="color:blue; font-size: 11px;">*Aceptar Terminos y Condiciones.</div>
                      </div>

                     
                          <div>
                              <ion-button type="submit" shape="round" color="primary"  [disabled]="!miForm.form.valid">¡Inscribirme!</ion-button>
                          </div>
                         
                </div>
             </form>
             <br>
             <p *ngIf="isValidFormSubmitted" [ngClass] = "'success'" style="color: green;">
                ...Felicidades ya estas registrado
             </p>
          </ion-card>

        
 </div>


