<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <h2>Registro Usuarios</h2>
    </ion-title>
  </ion-toolbar>
  
  <ion-fab horizontal="end" vertical="top" slot="fixed">
    <ion-fab-button color="secondary">
      <ion-icon name="share"></ion-icon>
    </ion-fab-button>
    <ion-fab-list>
      <ion-fab-button href="https://www.facebook.com/aerolineasatena" color="light">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button href="https://twitter.com/AerolineaSatena" color="light">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button href="https://www.instagram.com/aerolineasatena/" color="light">
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-fab-button>      
    </ion-fab-list>
  </ion-fab>

</ion-header>

<ion-content class="scroller ion-padding" no-bounce>
  



<ion-card class="ion-padding">
  <div class="section-title">
    <h1>
     No te pierdas ninguna Promo           
    </h1>
</div>
  <ion-item>
    <ion-label style="font-family: inherit;" color="medium" position="floating">Nombre</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label style="font-family: inherit;" color="medium" position="floating">Apellido</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label style="font-family: inherit;" color="medium" position="floating">E-mail</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label style="font-family: inherit;" color="medium">Aeropuerto Más Cercano</ion-label>
    <ion-select interface="popover">
      <ion-select-option value="0">Aguachica - Hacaritama</ion-select-option>
      <ion-select-option value="1">Apartado - Carepa - A.R. Betancourt</ion-select-option>
      <ion-select-option value="2">Araracuara - Araracuara</ion-select-option>
      <ion-select-option value="3">Arauca - Santiago Perez Quiroz</ion-select-option>
      <ion-select-option value="4">Bahia Solano - Jose Celestino Mutis</ion-select-option>
      <ion-select-option value="5">Bogota - El Dorado Intl</ion-select-option>
      <ion-select-option value="6">Bucaramanga - Palonegro Intl</ion-select-option>
      <ion-select-option value="7">Buenaventura - Gerardo Tobar Lopez</ion-select-option>
      <ion-select-option value="8">Cali - Alfonso B. Aragon Intl</ion-select-option>
      <ion-select-option value="9">Florencia - Gustavo A. Paredes</ion-select-option>
      <ion-select-option value="10">Guapi - Juan Casiano</ion-select-option>
      <ion-select-option value="12">Ipiales - San Luis</ion-select-option>
      <ion-select-option value="13">La Chorrera - Virgilio Barco Vargas</ion-select-option>
      <ion-select-option value="14">La Macarena - El Refugio</ion-select-option>
      <ion-select-option value="15">La Pedrera - La Pedrera</ion-select-option>
      <ion-select-option value="16">Leticia - Alfredo V&aacute;squez Cobo</ion-select-option>
      <ion-select-option value="17">Medellin - Enrique Olaya Herrera</ion-select-option>
      <ion-select-option value="18">Mitu - Fabio A. Leon Bentley</ion-select-option>
      <ion-select-option value="19">Pitalito - Pitalito</ion-select-option>
      <ion-select-option value="20">Providencia - El Embrujo</ion-select-option>
      <ion-select-option value="21">Puerto Asis - Tres de Mayo</ion-select-option>
      <ion-select-option value="22">Puerto Carreno - German Olano</ion-select-option>
      <ion-select-option value="11">Puerto Inirida - Obando</ion-select-option>
      <ion-select-option value="23">Puerto Leguizamo - Caucaya</ion-select-option>
      <ion-select-option value="24">Quibdo - El Carano</ion-select-option>
      <ion-select-option value="25">San Andres - Gustavo Rojas Pinilla</ion-select-option>
      <ion-select-option value="26">San Jose del Guaviare - Jorge E. Gonzalez T.</ion-select-option>
      <ion-select-option value="27">San Vicente del Caguan - Eduardo Falla Solano</ion-select-option>
      <ion-select-option value="28">Saravena - Los Colonizadores</ion-select-option>
      <ion-select-option value="29">Tame - Gabriel Vargas Santos</ion-select-option>
      <ion-select-option value="30">Tarapaca - Tarapac&aacute;</ion-select-option>
      <ion-select-option value="31">Tolu - Golfo de Morrosquillo</ion-select-option>
      <ion-select-option value="32">Tumaco - La Florida</ion-select-option>
      <ion-select-option value="33">Villagarzon - Villagarzon</ion-select-option>
      <ion-select-option value="34">Villavicencio - Vanguardia</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item lines="none">
    <ion-label  style="font-family: inherit;" color="medium" >Acepto
      <a style="font-size: 14px;" href="https://www.satena.com/viewer.php?id=408&&rlsk='YUhSMGNITTZMeTkzZDNjdWMyRjBaVzVoTG1OdmJTOWtiMk4xYldWdWRHOXpMMk52Y25CdmNtRjBhWFp2TDNCdmJHbDBhV05oYzE5amIyNWthV05wYjI1bGMxOTBaWEp0YVc1dmMxOTFjMjh1Y0dSbQ=='" target="_blank" title="Ver términos y condiciones"> 
        Términos y condiciones                                   
      </a>
    </ion-label>
    <ion-checkbox color="primary"  slot="start"></ion-checkbox>
  </ion-item>
  <div>
  <ion-button shape="round" color="primary" href="https://www.satena.com/">¡Inscribirme!</ion-button>
</div>
</ion-card>

</ion-content>
