ion-title {
	color:  #003883;
}

ion-header {
	background-color: #fff;
	border-bottom: 2px solid #022471; 
	text-align: left; 
	top: 0;
	width: 100%;
	}

	.section-title h1 {
		text-transform: capitalize;
		font-weight: 700;
		font-size: 18px;
		color:  #022471;
	}

