<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
        <h2>Servicios</h2> 
      </ion-title>
  </ion-toolbar>

  <ion-fab horizontal="end" vertical="top" slot="fixed">
      <ion-fab-button color="secondary">
        <ion-icon name="share"></ion-icon>
      </ion-fab-button>
      <ion-fab-list>
        <ion-fab-button href="https://www.facebook.com/aerolineasatena" color="light">
          <ion-icon name="logo-facebook"></ion-icon>
        </ion-fab-button>
        <ion-fab-button href="https://twitter.com/AerolineaSatena" color="light">
          <ion-icon name="logo-twitter"></ion-icon>
        </ion-fab-button>
        <ion-fab-button href="https://www.instagram.com/aerolineasatena/" color="light">
          <ion-icon name="logo-instagram"></ion-icon>
        </ion-fab-button>      
      </ion-fab-list>
    </ion-fab>


</ion-header>

 
   <ion-content class="scroller ion-padding" no-bounce>
    <ion-card href="https://www.satena.com/css/img/carga/recomendaciones_generales.jpg">
      <img src="/assets/banner/recomend.jpg" />
     </ion-card>
 
    <ion-list >

              <!-- PRIMER SLINDING RECOMENDADOS-->
              <ion-item-sliding (click)="expandedItem00(item)" *ngFor="let item of item00">
                <ion-item>
          
                  <ion-label>
                    <strong class="strongTitle">{{item.name}}</strong>
                    <fa-icon class="icono derecha" [icon]="['fas', 'wheelchair']"></fa-icon>
                  </ion-label>
          
                </ion-item>
                
          <!-- EXPAND ES EL COMPONENTE SELECCIONADO PARA LA PAGINA SERVICIOS-->
                  <app-expand [expandHeight]="itemExpandedHeight" [expandxs]="item.expanded">
                      <p class="paragraf">
                          <li>{{item.info}}</li><br>
                          Dirección: {{item.direccion}}<br>
                          Celular:{{item.cell}}<br>
                          <span>E-mail:&nbsp; </span><a href={{item.refmail}}>{{item.email}}</a>
                      </p>
                      
                      
                  </app-expand>
                
               
              </ion-item-sliding>


                  <!-- SEGUNDO SLINDING VIAJEROS CON ARMAS-->
      <ion-item-sliding (click)="expandedItem0(item)" *ngFor="let item of item0">
        <ion-item>
  
          <ion-label>
            <strong class="strongTitle">{{item.name}}</strong>
            <fa-icon class="icono derecha" [icon]="['fas', 'bomb']"></fa-icon>
          </ion-label>
  
        </ion-item>
        
  <!-- EXPAND ES EL COMPONENTE SELECCIONADO PARA LA PAGINA SERVICIOS-->
          <app-expand [expandHeight]="itemExpandedHeight" [expandxs]="item.expanded">
              <p class="paragraf">
                  <li>{{item.info}}</li><br>
                   Dirección: {{item.direccion}}<br>
                  Celular:{{item.cell}}<br>
                  <span>E-mail:&nbsp; </span><a href={{item.refmail}}>{{item.email}}</a>
              </p>
              
              
          </app-expand>
        
       
      </ion-item-sliding>

               <!-- TERCERO SLINDING CORREO Y CARGA-->

        <ion-item-sliding (click)="expandedItem1(item)" *ngFor="let item of item1">
          <ion-item>
    
            <ion-label>
              <strong class="strongTitle">{{item.name}}</strong>
              <fa-icon class="icono derecha" [icon]="['fas', 'box-open']"></fa-icon>
            </ion-label>
    
          </ion-item>
          
    <!-- EXPAND ES EL COMPONENTE SELECCIONADO PARA LA PAGINA SERVICIOS-->
            <app-expand [expandHeight]="itemExpandedHeight" [expanded]="item.expanded">
                <p class="paragraf">
                    <strong>SATENA</strong> {{item.info}}<br>
                    <li>{{item.paragraph1}}</li><br>
                    <li>{{item.paragraph2}}</li><br>
                    <li>{{item.paragraph3}}</li><br>
                    Dirección:{{item.direccion}}<br>
                    Celular:{{item.cell}}&nbsp;
                    <span>E-mail:&nbsp; </span><a href={{item.refmail}}>{{item.email}}</a>
                </p>
                
                
            </app-expand>
          
         
        </ion-item-sliding>

        <!-- CUARTO SLINDING TRANSPORTE DE CARGA-->
      
        <ion-item-sliding (click)="expandedItem2(item)" *ngFor="let item of item2">
          <ion-item>
    
            <ion-label>
              <strong class="strongTitle">{{item.name}}</strong>
              <fa-icon class="icono derecha" [icon]="['fas', 'truck']"></fa-icon>
            </ion-label>
    
          </ion-item>
          
    <!-- EXPAND ES EL COMPONENTE SELECCIONADO PARA LA PAGINA SERVICIOS-->
            <app-expand [expandHeight]="itemExpandedHeight" [expander]="item.expanded">
                <p class="paragraf">
                    <strong>SATENA</strong> {{item.info}}<br>
                           
                            
                <!-- SUBITEMS SLINDING DEL TRANSPORTE DE CARGA-->
                <ion-item-sliding (click)="expandedSubItems(item)" *ngFor="let item of subitems">
                  
                  <ion-item>
            
                    <ion-label>
                      <strong class="strongTitle">{{item.name}}</strong>
                      <fa-icon class="icono derecha" [icon]="['fas', 'people-carry']"></fa-icon>
                    </ion-label>
            
                  </ion-item>

                  <app-expand [expandHeight]="itemExpandedHeight" [expander]="item.expanded">
                    <p class="paragraf">
                        <li>{{item.paragraph1}}</li><br>
                        <li>{{item.paragraph2}}</li><br>
                        <li>{{item.paragraph3}}</li><br>
                        <li>{{item.paragraph4}}</li><br>
                        <li>{{item.paragraph5}}</li><br>
                        <li>{{item.paragraph6}}</li><br>
                        <a href="{{item.link}}">{{item.info}}</a>
              
                    </p>
                    
                    
                </app-expand>

                </ion-item-sliding>
              </p>
                
            </app-expand>
          
         
        </ion-item-sliding>
        
      </ion-list>
   

</ion-content>
