<ion-header class="header_home">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button color="light"></ion-menu-button>
        </ion-buttons>
        <img src="/assets/logo.png" alt="Satena">

    </ion-toolbar>


</ion-header>

<ion-content class="scroller" no-bounce>

    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button color="primary">
            <ion-icon name="share"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="start">
            <ion-fab-button href="https://www.facebook.com/aerolineasatena" color="light">
                <ion-icon name="logo-facebook"></ion-icon>
            </ion-fab-button>
            <ion-fab-button href="https://twitter.com/AerolineaSatena" color="light">
                <ion-icon name="logo-twitter"></ion-icon>
            </ion-fab-button>
            <ion-fab-button href="https://www.instagram.com/aerolineasatena/" color="light">
                <ion-icon name="logo-instagram"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>

    <ion-slides [options]="slideOptsFade">



        <ion-slide style="background-image: url(/assets/new/1.png); background-size: 100% 100%;">



        </ion-slide>

        <ion-slide style="background-image: url(/assets/new/2.png); background-size: 100% 100%;">



        </ion-slide>

        <ion-slide style="background-image: url(/assets/new/3.png); background-size: 100% 100%;">



        </ion-slide>

        <ion-slide style="background-image: url(/assets/new/4.png); background-size: 100% 100%;">



        </ion-slide>

        <ion-slide style="background-image: url(/assets/new/5.png); background-size: 100% 100%;">



        </ion-slide>



    </ion-slides>
    <!--
  <section class="#">
    <div style="position: absolute; top: 245px; width: 100%;  z-index: 2;"> 
      <ion-button fill="outline" color="light" expand="block"  href="../tabs/tiquetes/">
        <h3 style="color: lightgray;"> TIQUETES ONLINE</h3>
        <ion-icon slot="start" name="cart"></ion-icon>
      </ion-button>
    </div>
     <div style="position: absolute; top: 480px; width: 100%;  z-index: 2;">
      <ion-button fill="outline" color="light" expand="block"  href="../tabs/checkin">
        <h3 style="color:lightgray;">WEB CHECK-IN</h3>
       
        <ion-icon slot="start" name="stopwatch"></ion-icon>
      </ion-button>
    </div>
</section>
-->

</ion-content>