<ion-header>
  <ion-toolbar class="header_home">   
         
        <img src="/assets/logo.png" alt="Satena">
    
   </ion-toolbar>
  
  <ion-fab horizontal="end" vertical="top" slot="fixed">
      <ion-fab-button color="secondary">
        <ion-icon name="share"></ion-icon>
      </ion-fab-button>
      <ion-fab-list>
        <ion-fab-button href="https://www.facebook.com/aerolineasatena" color="light">
          <ion-icon name="logo-facebook"></ion-icon>
        </ion-fab-button>
        <ion-fab-button href="https://twitter.com/AerolineaSatena" color="light">
          <ion-icon name="logo-twitter"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="light">
          <ion-icon href="https://www.instagram.com/aerolineasatena/" name="logo-instagram"></ion-icon>
        </ion-fab-button>      
      </ion-fab-list>
    </ion-fab>
</ion-header>

<ion-content class="scroller" no-bounce>

  <ion-slides [options]="slideOptsCube">

    

    <ion-slide style="background-image: url(/assets/img1.jpg); background-size: 100% 100%;">

       
      
    </ion-slide>

    <ion-slide style="background-image: url(/assets/img2.jpg); background-size: 100% 100%;">

      
      
    </ion-slide>

    <ion-slide style="background-image: url(/assets/img3.jpg); background-size: 100% 100%;">
    
       
      
    </ion-slide>

    <ion-slide style="background-image: url(/assets/img4.jpg); background-size: 100% 100%;">
    
       
      
    </ion-slide>

    <ion-slide style="background-image: url(/assets/img5.jpg); background-size: 100% 100%;">


    </ion-slide>

  </ion-slides>

  <section class="btns_home">
    <div> 
      <ion-button fill="outline" color="light" expand="full"  href="../tabs/tiquetes/">
        COMPRAR TIQUETES ONLINE
        <ion-icon slot="start" name="cart"></ion-icon>
      </ion-button>
    </div>
    <div> 
      <ion-button fill="outline" color="light" expand="full"  href="../tabs/checkin">
        WEB CHECK-IN
        <ion-icon slot="start" name="stopwatch"></ion-icon>
      </ion-button>
    </div>
</section>
 
</ion-content>




    
   
  

    
    

